.nav{
   z-index: 999;
   top: 0;
   left: 0;
   width: 100%;
   position: fixed;
   background-color: black;
   color: white;
}

.nav__logo{
   z-index: 1001;
}

.nav__container{
   position: relative;
   display: flex;
   height: 80px;
   justify-content: space-between;
   align-items: center;
}

.nav__links-button-container{
   z-index: 1001;
   position: absolute;
   right: 20px;
   top: 30px;
   display: none;
   width: 20px;
   height: 20px;
}

.nav__links-button{
   height: 2px;
   position: absolute;

   width: 100%;
   background-color: white;
   background-color: white;
}

.nav__links-button-container::before,
.nav__links-button-container::after{
   transition: all .3s ease;
   content: '';
   height: 2px;
   position: absolute;
   width: 100%;
   background-color: white;
}

.nav__links-button-container.active::before{
   transform: rotate(-45deg);
}

.nav__links-button-container.active::after{
   transform: rotate(45deg);
   bottom: 9px;
}

.nav__links-button-container.active .nav__links-button{
   display: none;
}

.nav__links-button-container::before{
   bottom: 9px;
}

.nav__links-button-container::after{
   bottom: 0;
}


.nav__cart{
   position: relative;
}

.nav__cart-items{
   position: absolute;
   bottom: -5px;
   right: 0;
   border-radius: 50%;
   background-color: #FCB500;
   color: black;
   font-size: 12px;
   height: 16px;
   width: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.nav__links-list{
   display: flex;
   justify-content: space-between;
}

.nav__links-link:last-child{
   padding: 0;
}

.nav__links-link{
   padding-right: 40px;
   font-size: 18px;
   line-height: 24px;
}


@media(max-width:769px){
   .nav__links{
      transition: all ease .5s;
      position: absolute;
      left: 0;
      top: -1500%;
      height: 100vh;
      width: 100%;
   }

   .nav__links-button-container{
      display: block;
      align-items: center;
   }

   .nav__cart{
      position: absolute;
      right: 20%;
   }

   .nav__links-list{
      z-index: 1000;
      height: 100%;
      width: 100%;
      background-color: black;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .nav__links.active{
      top: 0;
   }

   .nav__links-link{
      padding: 50px 0 0 0;
   }
}
